/* Style global */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #12121217;
    color: #000000;
    padding-top: 80px;
}

/* Style pour le header */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #f5f5f5;
    z-index: 100;
}

/* Styles pour la navbar */
.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
}

.navbar a {
    font-size: 20px;
    color: #333;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width 0.3s;
}

.navbar a:hover::before,
.navbar a.active::before {
    width: 100%; /* Soulignement permanent pour le lien actif */
}
/* Style principal */
h1 {
    font-size: 25px;
    padding: 5px;
    text-align: center;
    margin-top: 20px;  /* Ajout d'un peu de marge au-dessus pour espacer du reste du contenu */
}

main {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 20px;
}

/* Style des sections */
section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    margin: 40px 0; /* Augmenter la marge en haut et en bas pour espacer plus du reste */
    max-width: 1500px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(122, 121, 121, 0.363);
    border-radius: 3px;
    box-sizing: border-box;
}

/* Style du tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    text-align: left;
    background-color: #fff;
    border: none;
}

th, td {
    padding: 12px;
    text-align: center;
    border: none; /* Supprime les bordures des cellules */
    color: #000000;
}

thead {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #2e7a8864;
}

th {
    background-color: #2e7a88;
    color: #fff;
    font-weight: 600;
}

td {
    background-color: transparent; /* S'assure qu'il n'y a pas de couleur résiduelle */
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5; /* Couleur pour les lignes paires */
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Couleur pour les lignes impaires */
}


.numero {
    color: #2e7a88;
}

.deplacement {
    opacity: 0.5;
    border: 2px dashed black;
}

/* Style des boutons */
.bouton {
    padding: 10px 20px;
    border: none;
    background-color: #2e7a88;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
}

.bouton:hover {
    background-color: #2e7a9c;
}

#gestion-boutons {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

#filtre {
    padding: 10px 20px;
    border-radius: 5px;
}

/* Formulaires */
.formulaire {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.formulaire-contenu {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.fermer-formulaire {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fermer-formulaire:hover,
.fermer-formulaire:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}