{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tri Chaînes - Accueil</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

    <script src="{% static 'scripts/script.js' %}" defer></script>
</head>

<body>
{% include 'components/header.html' %}

</body>
</html>
