{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tri Chaînes</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/chaines.css' %}">

    <script src="{% static 'scripts/script.js' %}" defer></script>
    <script src="{% static 'scripts/chaines.js' %}" defer></script>
</head>

<body>
{% include 'components/header.html' %}

<main>
    <div id="ajout-client" class="formulaire">
        <div class="formulaire-contenu">
            <span class="fermer-formulaire" onclick="fermer_formulaire('ajout-client')">&times;</span>

            <h1>Chaîne à Modifier : <span id="formulaire-chaine">Aucune Chaîne Sélectionnée</span></h1>

            <label><b>Sélection de Clients :</b></label>
            <div id="liste-clients">
                {% for client in clients %}
                    <div>
                        <input id="{{ client }}" type="checkbox">
                        <label for="{{ client }}">{{ client }}</label>
                    </div>
                {% endfor %}
            </div>

            <button class="bouton" id="ajouter-clients" onclick="ajouter_clients('ajout-client')">
                Modifier Clients
            </button>
        </div>
    </div>

    <div id="iptv-utilise" class="formulaire">
        <div class="formulaire-contenu">
            <span class="fermer-formulaire" onclick="fermer_formulaire('iptv-utilise')">&times;</span>

            <h1>Chaîne à Associer : <span id="chaine-a-associer">Aucune Chaîne Sélectionnée</span></h1>
            <h1>ID Github à Associer : <span id="iptv-a-associer">Aucun ID Sélectionné</span></h1>

            <button class="bouton" id="ajouter-clients" onclick="fusionner_occurrences('iptv-utilise')">
                Fusionner Occurrences
            </button>

            <button class="bouton" onclick="fermer_formulaire('iptv-utilise')">
                Annuler
            </button>
        </div>
    </div>

    <div id="deplacement-chaine" class="formulaire">
        <div class="formulaire-contenu">
            <span class="fermer-formulaire" onclick="fermer_formulaire('deplacement-chaine')">&times;</span>

            <h1>Chaîne à Déplacer : <span id="chaine-a-deplacer">Aucune Chaîne Sélectionnée</span></h1>

            <label>
                <input class="input" id="nouvelle-position" type="number" min="0" max="{{ chaines|length|sub:1 }}"
                       value="0">
            </label>

            <button class="bouton" id="deplacer-chaine" onclick="deplacer_chaine('deplacement-chaine')">
                Déplacer Chaîne
            </button>
        </div>
    </div>

    <div id="consultation-occurrences" class="formulaire">
        <div class="formulaire-contenu">
            <span class="fermer-formulaire" onclick="fermer_formulaire('consultation-occurrences')">&times;</span>

            <h1>Occurrences de la Chaîne : <span id="chaine-a-consulter">Aucune Chaîne Sélectionnée</span></h1>

            <table>
                <thead>
                <tr>
                    <th><span>Numéro <span class="material-symbols-rounded">arrow_drop_down</span></span></th>
                    <th><span>Service ID</span></th>
                    <th><span>Diffuser</span></th>
                    <th><span>Fréquence</span></th>
                    <th><span>Satellite</span></th>
                    <th><span>Cryptée</span></th>
                    <th><span>En Ligne</span></th>
                    <th><span>BER</span></th>
                    <th><span>Signal</span></th>
                    <th><span>SNR</span></th>
                    <th><span>UB</span></th>
                    <th><span>TS Discontinuities</span></th>
                </tr>
                </thead>
                <tbody id="liste-occurrences"></tbody>
            </table>

            <button class="bouton" onclick="appliquer_modifications('consultation-occurrences')">Appliquer
                Modifications
            </button>
        </div>
    </div>

    <h1>CHAÎNES : {{ chaines|length }} / ASSOCIÉES : {{ chaines|associations }}</h1>

    <div id="gestion-boutons">
        <div>
            <button class="bouton" onclick="enregistrer()">Enregistrer</button>
            <button class="bouton" onclick="window.location.reload()">Réinitialiser</button>
            <button class="bouton" onclick="trier()">Trier</button>
            <label><input class="input" id="filtre" type="text"></label>
            <button class="bouton" onclick="filtrer()">Filtrer</button>
        </div>

        <div>
            <button class="bouton" onclick="pageAvant()"><<</button>
            <label for="chaines-visibles">0-49</label>
            <select class="bouton" id="chaines-visibles" oninput="changerPage()">
                {% for option in chaines|length|contenu_pages %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <button class="bouton" onclick="pageApres()">>></button>
        </div>
    </div>

    <section>
        <table>
            <thead>
            <tr>
                <th><span>Numéro <span class="material-symbols-rounded">arrow_drop_down</span></span></th>
                <th><span>ID Github</span></th>
                <th><span>Nom</span></th>
                <th><span>Nom Mumu</span></th>
                <th><span>Pays</span></th>
                <th><span>Langue</span></th>
                <th><span>Catégorie</span></th>
                <th><span>Media</span></th>
                <th><span>Adulte</span></th>
                <th><span>Forcer Diffusion</span></th>
                <th><span>Forcer Non-Diffusion</span></th>
                <th><span>À Diffuser</span></th>
                <th><span>IP</span></th>
                <th><span>Clients</span></th>
                <th><span>Occurences</span></th>
            </tr>
            </thead>

            <tbody id="zone-tri">
            {% for chaine in chaines %}
                <tr id="{{ chaine.id }}"
                    class="element-tri"
                    draggable="true"
                    ondragstart="dragStart(this)"
                    ondragenter="dragEnter(this, 'zone-tri')"
                    ondragend="dragEnd(this, 'zone-tri')">
                    <td id="numero"
                        ondblclick="ouvrir_formulaire_deplacement('deplacement-chaine', '{{ chaine.id }}')">{{ forloop.counter0 }}</td>
                    <td id="id" ondblclick="changer_id(this)">{{ chaine.id }}</td>
                    <td id="nom_github" ondblclick="activerModification(this)">{{ chaine.nom_github }}</td>
                    <td id="nom_mumu" ondblclick="activerModification(this)">{{ chaine.nom_mumu }}</td>
                    <td id="pays" ondblclick="activerModification(this)">{{ chaine.pays }}</td>
                    <td id="langue" ondblclick="activerModification(this)">{{ chaine.langue }}</td>
                    <td id="categorie" ondblclick="activerModification(this)">{{ chaine.categorie }}</td>
                    <td id="media" ondblclick="activerModification(this)">{{ chaine.media }}</td>
                    <td id="adulte" ondblclick="activerModification(this)">{{ chaine.adulte }}</td>
                    <td id="forcer_diffusion" ondblclick="activerModification(this)">{{ chaine.forcer_diffusion }}</td>
                    <td id="forcer_non_diffusion"
                        ondblclick="activerModification(this)">{{ chaine.forcer_non_diffusion }}</td>
                    <td id="a_diffuser" ondblclick="activerModification(this)">{{ chaine.a_diffuser }}</td>
                    <td id="ip" ondblclick="activerModification(this)">{{ chaine.ip }}</td>
                    <td id="clients"
                        ondblclick="ouvrir_formulaire_clients('ajout-client', '{{ chaine.nom_mumu }}')">
                        {% for client in chaine.clients %}
                            <span class="vignette">{{ client }}</span>
                        {% endfor %}
                    </td>
                    <td id="occurrences"
                        ondblclick="ouvrir_formulaire_occurrences('consultation-occurrences', '{{ chaine.nom_mumu }}')">{{ chaine.occurrences|length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</main>
</body>
</html>
